body {
  text-align:center;
  background-color: #ADD8E6;
  
     
}
H2 {
  text-shadow : 2px 2px;
  font-size: 20px;
}
img
{
  border-radius: 50px;
  width: 100px;
}
.menu{
    list-style: none;
    font-family: cursive;
    float: right;
    top: 10px;
    cursor: pointer;
    color: black;
    
}
html{
    scroll-behavior: smooth;
}
img {
    transition: transform .2s;
    border: 10px solid #AAAAAA
}

img:hover {
    transform: scale(0.9)
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
        overflow: hidden; 
    background-color: #333;

}
li {
    float: left;
}

li a {
    display;block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color; #111;
}
#contact iframe
{
    width:100px
}